.sudoku {
  border-top: #000 5px solid;
  border-left: #000 5px solid;
  border-spacing: 0;
  width: 100%;
}

.sudoku td {
  padding: 10px 0 !important; 
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-family: arial;
  min-width: 60px;
}

.sudoku input {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
  border: none;
  outline: none;
  width: 30px;
  cursor:default;
}
.sudoku td.no-padding {
  padding: 0;
}
.sudoku td.border-bottom {
  border-bottom: #000 1px solid !important;
}
.sudoku td.border-left {
  border-left: #000 1px solid;
}
.sudoku td.border-right {
  border-right: #000 1px solid;
}
.sudoku td.border-right-bold {
  border-right: #000 5px solid;
}
.sudoku td.border-bottom-bold {
  border-bottom: #000 5px solid;
}
.sudoku td.invalid {
  background-color: #faa; 
}
.sudoku td.invalid input {
  background-color: #faa; 
}
